In [1]:
import json
import sys
import pandas as pd
import ast
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')
sys.path.append('../implementation/')

In [2]:
def boardrooms_data():

    # read in the data
    data_path = "../data/boardrooms/old_version/data.json"
    attributes_of_interest = ['idcompany', 'companyname', 'mktcap', 'unrelated', 'female', 'age', 'tenure', 'medianpay', 'industry']
    with open(data_path, 'r') as data_file:
        data = json.loads(data_file.read())
    data_file.close()

    data_array = np.array([tuple(row[attr] for attr in attributes_of_interest) for row in data],
                          dtype=[('idcompany', 'int'), ('companyname', 'U40'), ('mktcap', 'float'), ('unrelated', 'float'), ('female', 'float'), ('age', 'float'), ('tenure', 'float'), ('medianpay', 'float'), ('industry', 'U40')])
    df = pd.DataFrame(data_array)
    df.set_index('idcompany', drop=True, inplace=True)
    df = df.reset_index()
    return df

In [3]:
def boardrooms_ui_data():
    # read in the user interaction data
    interaction_data_path = "../data/boardrooms/old_version/feng_experiment_interaction_data/searchinvis-boardrooms-per-visit.csv"
    user_interaction_data = pd.read_csv(interaction_data_path)
    user_interaction_data = user_interaction_data.dropna(subset=['id', 'code', 'duration'])
    user_interaction_data = user_interaction_data[user_interaction_data['duration'] > 1000]
    
    underlying_data = pd.read_csv("../data/boardrooms/boardrooms_data.csv")

    group_list = [1,2,3]
    full_interactions = pd.DataFrame(columns = ['user', 'task', 'interaction_session'])
    for group in group_list:
        if group == 1:
            user_interaction_data = user_interaction_data[np.logical_and(user_interaction_data['condition'] == 'foresight', user_interaction_data['if_search_factor'] == 'search')]
        elif group == 2:
            user_interaction_data = user_interaction_data[np.logical_and(user_interaction_data['condition'] == 'foresight', user_interaction_data['if_search_factor'] == 'non-search')]
        elif group == 3:
            user_interaction_data = user_interaction_data[user_interaction_data['condition'] == 'control']
        else:
            raise Exception('group argument missing')

        interactions_by_participant = {}
        print(str(group) + ': ', len(user_interaction_data))
        for index, row in user_interaction_data.iterrows():
            id = int(row['id'])
            if id not in interactions_by_participant.keys():
                interactions_by_participant[id] = []
            comp_id = int(row['code'])
            index_id = underlying_data.index[underlying_data['idcompany'] == comp_id].tolist()[0]
            interactions_by_participant[id].append(index_id)
        for id in interactions_by_participant.keys():
            full_interactions = full_interactions.append({'user': id, 'task': group, 'interaction_session': interactions_by_participant[id]},  ignore_index = True)
        
    return full_interactions

In [5]:
df_ui = boardrooms_ui_data()
df_ui
# df_ui.to_csv("../data/boardrooms/boardrooms_combined_interactions.csv", index=False)

1:  1100
2:  0
3:  0

   user task                                interaction_session
0     1    1  [476, 476, 474, 476, 466, 45, 27, 180, 476, 81...
1     4    1  [301, 180, 24, 45, 200, 460, 444, 261, 192, 18...
2    12    1  [45, 121, 45, 121, 45, 121, 136, 96, 45, 24, 4...
3    16    1  [121, 121, 27, 27, 476, 351, 180, 27, 66, 476,...
4    28    1  [123, 370, 381, 306, 424, 90, 476, 45, 98, 110...
5    34    1                  [315, 428, 49, 121, 180, 45, 425]
6    38    1  [45, 125, 98, 208, 386, 476, 474, 434, 324, 29...
7    39    1                                 [121, 45, 121, 45]
8    40    1  [121, 262, 315, 428, 298, 401, 135, 273, 374, ...
9    44    1  [45, 211, 261, 180, 446, 175, 383, 163, 91, 53...
10   50    1  [308, 464, 225, 225, 45, 147, 45, 205, 205, 25...
11   57    1  [476, 24, 49, 470, 466, 59, 248, 366, 49, 323,...
12   58    1                                          [493, 30]
13   59    1  [24, 301, 178, 66, 27, 202, 315, 428, 298, 135...
14   61    1  [301, 27, 248, 480, 45, 144, 338, 476, 470, 46...
15   63    1  [45, 24, 301, 178, 250, 480, 49, 313, 298, 45,...
16   77    1  [178, 24, 301, 45, 24, 301, 24, 301, 178, 66, ...
17   83    1  [386, 30, 180, 24, 284, 284, 45, 180, 248, 45,...
18   86    1  [45, 121, 121, 45, 121, 24, 301, 178, 301, 178...
19   91    1  [476, 24, 24, 202, 24, 366, 476, 495, 45, 156,...
20  100    1  [45, 24, 45, 202, 480, 49, 121, 121, 79, 234, ...
21  106    1  [426, 353, 45, 24, 301, 178, 178, 298, 172, 28...
22  110    1  [45, 45, 121, 121, 121, 180, 83, 448, 261, 261...
23  117    1  [248, 480, 24, 301, 178, 66, 248, 250, 366, 49...
24  118    1                  [35, 45, 45, 45, 45, 298, 45, 66]
25  119    1  [45, 24, 45, 24, 301, 66, 27, 202, 180, 248, 4...
26  123    1  [45, 24, 301, 178, 66, 27, 24, 45, 202, 180, 2...
27  130    1  [45, 45, 350, 223, 147, 374, 125, 273, 39, 125...
28  133    1  [121, 45, 121, 319, 276, 364, 304, 466, 476, 2...
29  141    1  [45, 121, 121, 45, 476, 45, 24, 301, 45, 24, 3...
30  146    1  [277, 369, 45, 121, 211, 213, 45, 194, 121, 45...
31  157    1                             [125, 45, 121, 27, 66]
32  164    1  [45, 121, 45, 121, 45, 121, 45, 121, 24, 45, 2...
33  165    1  [45, 121, 180, 301, 24, 301, 24, 178, 66, 27, ...
34  166    1       [45, 301, 474, 324, 428, 298, 348, 273, 155]
35  177    1  [321, 135, 81, 10, 460, 321, 80, 180, 90, 90, ...
36  180    1  [483, 401, 246, 215, 335, 66, 168, 263, 196, 2...
37  181    1                                          [88, 487]
38  182    1  [281, 45, 315, 298, 172, 291, 273, 442, 383, 1...
39  183    1  [476, 45, 24, 301, 66, 49, 98, 428, 172, 280, ...
40  185    1  [47, 204, 476, 460, 309, 180, 446, 393, 389, 3...

In [5]:
df = boardrooms_data()
df.to_csv("../data/boardrooms/boardrooms_data.csv", index=False)